<p>icons works!</p>
<div class="section" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div class="icons" fxLayout="row" fxLayoutAlign="space-evenlycenter">

        <div class="iconsandbuttons">
            <button class="iconbutton1" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="../../../assets/add_alert_black_24dp.svg" alt=""></button>
        </div>

        <div class="iconsandbuttons">
            <button class="iconbutton2" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="../../../assets/person_add_alt_black_24dp.svg" alt=""></button>

        </div>

        <div class="iconsandbuttons">
            <button class="iconbutton3" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="../../../assets/palette_black_24dp.svg" alt=""></button>

        </div>

        <div class="iconsandbuttons">
            <button class="iconbutton4" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="../../../assets/insert_photo_black_24dp (1).svg" alt=""></button>

        </div>

        <div class="iconsandbuttons">
            <button class="iconbutton5" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="../../../assets/archive_black_24dp (1).svg" alt=""></button>

        </div>

        <div class="iconsandbuttons">
            <button class="iconbutton6" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="../../../assets/more_vert_black_24dp.svg" alt=""></button>

        </div>
      

        <!-- <button class="iconbutton3" fxLayout="row" fxLayoutAlign="space-around center">
            <img src="../../../assets/notifications_black_24dp.svg" alt=""></button>

        <button class="iconbutton" fxLayout="row" fxLayoutAlign="space-around center">
            <img src="../../../assets/notifications_black_24dp.svg" alt=""></button>

        <button class="iconbutton" fxLayout="row" fxLayoutAlign="space-around center">
            <img src="../../../assets/notifications_black_24dp.svg" alt=""></button>

        <button class="iconbutton" fxLayout="row" fxLayoutAlign="space-around center">
            <img src="../../../assets/notifications_black_24dp.svg" alt=""></button> -->


















        <!-- <p>Reminder:</p>

        <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
            Later today </button>
    
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            Tomorrow </button>
    
    
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            Next week </button>
    
    
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            Home </button>
    
    
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img style="width: 20px; height: 20px; justify-content: space-evenly;" src="../../../assets/schedule_black_24dp.svg" alt="">Pick date & time </button>
    
    
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img style="width: 20px; height: 20px; justify-content: space-evenly;" src="../../../assets/place_black_24dp.svg" alt="">
            Pick place </button> -->

    </div>




</div>