.section{
    border: 1px solid gainsboro ;
    font-family: 'Roboto',arial,sans-serif;
    width: 30%;
    height: 7%;
    position: relative;
    left: 35%;
    top: 5%;
    // border: none;
    border-radius: 6px;
}
.icons{
    cursor: pointer;
justify-content: center;
}

.iconsandbuttons{
    margin-left: 10%;
    display: flex;
    position: relative;
    right: 52%;
    border: none;
    opacity: 0.6;
}

.iconbutton1{
    cursor: pointer;
    justify-content: space-around;
    border: none;
    // border-radius: 50px;
  
}

.iconbutton2{
    cursor: pointer;
    border: none;
}
.iconbutton3{
    cursor: pointer;
    border: none;
}

.iconbutton4{
    cursor: pointer;
    border: none;

}
.iconbutton5{
    cursor: pointer;
    border: none;

}

.iconbutton6{
    cursor: pointer;
    border: none;

}







// .reminder{
//     // border: 2px solid red;
//     width: 60%;
//     height: auto;
//     margin-right: 67%;
  

// }

// p{
//     // border: 2px solid black;
//     margin-right: 15%;
//     font-family: 'Roboto',arial,sans-serif;
    
// }

// .example-icon{
//     // border: 2px solid green;
//     margin-right: 25%;
//     opacity: 0.6;
// }