.section{
    // border: 1px solid gainsboro ;
    font-family: 'Roboto',arial,sans-serif;
    width: 10%;
    height: 7%;
    position: relative;
    left: 55%;
    top: 5%;
    // border: 2px solid greenyellow;
    // border: none;
    // border-radius: 6px;
}
.icons{
    // border: 2px solid black;
    cursor: pointer;
    justify-content: center;
    margin-left: 100%;

}

.iconsandbuttons{
    // border: 2px solid yellow;
    margin-left: 10%;
    display: flex;
    position: relative;
    // right: 52%;
    // border: none;
    opacity: 0.6;
    background-color: white;
}

.iconbutton1{
    cursor: pointer;
    justify-content: space-around;
    border: none;
    // border-radius: 50px;
    background-color: white;
  
}

.iconbutton2{
    cursor: pointer;
    border: none;
    background-color: white;
}
.iconbutton3{
    cursor: pointer;
    border: none;
    background-color: white;
}

.iconbutton4{
    cursor: pointer;
    border: none;
    background-color: white;

}
.iconbutton5{
    cursor: pointer;
    border: none;
    background-color: white;

}

.iconbutton6{
    cursor: pointer;
    border: none;
    background-color: white;

}