<p>dashboard works!</p>

<div class="section">
  <div class="form">

    <!-- <p> -->
    <mat-toolbar>

      <div class="menubutton">
        <button mat-icon-button (click)="snav.toggle()" class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>

      </div>

      <!-- <div class="keepimageandbutton"> -->


      <img class="keepimg" src="../../../assets/keep_2020q4_48dp.png" alt="">
      <h1 style="display: inline-block;font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;color: #5f6368;opacity: 1;
      vertical-align: middle; cursor: pointer;line-height: 24px;padding-left: 4px;">Fundoo</h1>
      <span class="example-spacer"></span>

      <!-- </div> -->

      <div class="searchbar">

        <mat-form-field
          style=" border: 2px solid rebeccapurple; background: transparent; width: 800px; height: 16px;  margin-top: -120px; margin-left: 100px; border: none;"
          appearance="outline">
          <!-- <mat-label>Last name</mat-label> -->
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <!-- <mat-icon>search</mat-icon> -->
            <img style="opacity: 0.54; width: 30px; height: 30px; background-color: white; margin-top: 20%; position: relative; top: -10%;"
              src="../../../assets/search_black_24dp.svg" alt="">

            <input type="text" matInput style="background: transparent;border: none;font: normal 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
             -webkit-font-variant-ligatures: none;font-variant-ligatures: none;height: 66px;outline: none;width: 100%; position: relative; top: -10%;" placeholder="search">

          </button>

          <!-- <button mat-icon-button class="closebutton" aria-label="Example icon-button with menu icon">
         
            <img style="position: relative; top: -10%;" src="../../../assets/close_black_24dp.svg" alt="">

          </button> -->

        </mat-form-field>

      </div>

      <div class="refreshandsetting">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!-- <mat-icon>refresh</mat-icon> -->
          <img style="border: 1px solid red; opacity: 0.54; width: 30px; height: 30px; margin-left: 30px;"
            src="../../../assets/refresh_black_24dp.svg" alt="">

        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!-- <mat-icon>settings</mat-icon> -->

          <img style="border: 1px solid yellow; opacity: 0.54; width: 30px; height: 30px; margin-left: 40px;"
            src="../../../assets/view_agenda_black_24dp.svg" alt="">
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!-- <mat-icon>settings</mat-icon> -->

          <img style="border: 1px solid green; opacity: 0.54; width: 30px; height: 30px; margin-left: 50px;"
            src="../../../assets/settings_black_24dp.svg" alt="">
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!-- <mat-icon>settings</mat-icon> -->

          <img style="border: 1px solid blue; margin-left: 215px; opacity: 0.54; width: 30px; height: 30px;"
            src="../../../assets/apps_black_24dp.svg" alt="">
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!-- <mat-icon>settings</mat-icon> -->

          <img style="border: 1px solid pink;width: 30px; height: 30px; opacity: 0.54; margin-left: 225px;"
            src="../../../assets/account_circle_black_24dp.svg" alt="">
        </button>


      </div>

      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button> -->


    </mat-toolbar>
    <!-- </p> -->




    <!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun"> -->
    <!-- <mat-toolbar color="primary" class="example-toolbar">
              <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
              <h1 class="example-app-name">Responsive App</h1>
            </mat-toolbar> -->

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-nav-list>

          <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->

          <div class="iconsandlists" fxLayout="column" fxLayoutAlign="space-evenly center">

            <button class="lightbulb" *ngIf="true"  fxLayout="row" fxLayoutAlign="start center">
              <img src="../../../assets/lightbulb_black_24dp.svg" alt=""></button>
              <!-- <div class="notes" *ngIf="false">Notes</div> -->
              <p style="letter-spacing: .01785714em;
              font-family: 'Google Sans',Roboto,Arial,sans-serif;
              font-size: .875rem;
              font-weight: 500;
              line-height: 1.25rem;
              cursor: pointer; margin-left: 50%; justify-content: center; margin-top: -27%;" >Notes</p>

            <button class="lightbulb" fxLayout="row" fxLayoutAlign="start center">
              <img src="../../../assets/notifications_black_24dp.svg" alt="">Reminders</button>

            <button class="lightbulb" fxLayout="row" fxLayoutAlign="start center">
              <img src="../../../assets/mode_black_24dp.svg" alt="">Edit labels</button>

            <button class="lightbulb" fxLayout="row" fxLayoutAlign="start center">
              <img src="../../../assets/archive_black_24dp.svg" alt="">Archives</button>

            <button class="lightbulb" fxLayout="row" fxLayoutAlign="start center">
              <img src="../../../assets/delete_black_24dp.svg" alt="">Trash</button>

          </div>
          
          <!-- <button >
                    <mat-icon>lightbulb</mat-icon>notes</button>

                    <button >
                    <mat-icon>trash</mat-icon>Trash</button>

                      
                    <button >
                    <mat-icon>lightbulb</mat-icon>notes</button> -->


          <!-- <button mat-icon-button (click)="snav.toggle()">
                      <mat-icon>lightbulb</mat-icon>notes</button>

                      <button mat-icon-button (click)="snav.toggle()">
                        <mat-icon>lightbulb</mat-icon>notes</button> -->

        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <p *ngFor="let content of fillerContent">{{content}}</p>
      </mat-sidenav-content> 
    </mat-sidenav-container>
    <!-- </div> -->



    <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>


  </div>

</div>